# Udacity Practice

In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_excel(r'anscombes-quartet.xlsx')

In [8]:
df.head()

      X     Y   X.1   Y.1   X.2    Y.2  X.3   Y.3
0  10.0  8.04  10.0  9.14  10.0   7.46  8.0  6.58
1   8.0  6.95   8.0  8.14   8.0   6.77  8.0  5.76
2  13.0  7.58  13.0  8.74  13.0  12.74  8.0  7.71
3   9.0  8.81   9.0  8.77   9.0   7.11  8.0  8.84
4  11.0  8.33  11.0  9.26  11.0   7.81  8.0  8.47

In [15]:
np.mean(df["X"])

9.0

In [16]:
df["X"].mean()

9.0

In [17]:
df["X.1"].mean()

9.0

In [18]:
df["X.2"].mean()

9.0

In [19]:
df["X.3"].mean()

9.0